body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    list-style-type: none;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 50px 15%;
}

.main-title {
    font-size: 2.5em;
    color: #2c3e50;
    text-align: center;
}

.intro-text, .sub-title {
    text-align: center;
    color: #34495e;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #1a6691;
}

h2, h3 {
    color: #2c3e50;
}

.about-content {
    margin: 20px 0;
}

.team-heading{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    color: black;
    background-color: #e0cfcf;
    padding: 20px;
    letter-spacing: 3px;
}

.arrow {
    font-size: 1em;
    margin-left: 10px;
    vertical-align: middle;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: 150px;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1.1em;
    color: #333;
    background-color: #ffe5b4;
    padding: 5px 10px;
    border: 2px solid #ffcc80;
    border-radius: 5px;
    margin-top: 10px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #1a6691;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0dcdc;
    color: white;
    position: relative
}

.partners-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.partner-logo img{
    width: 400px;
    max-width: 100%;
    height: auto;
}